html,
body {
  overflow-x: hidden;
}

.ticker-wrap {
  width: 200%;
  padding-left: 100%;
}

@keyframes ticker {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation: ticker 40s linear infinite;
}

.ticker-move:hover {
  animation-play-state: paused;
}

.ticker-item {
  display: inline-block;
  padding: 0 40px;
}